* {
    font-family: "Fira Code";
    font-size: 10px;
		border-radius: 0;
}

window#waybar {
	background-color: #1D1F21;
}

.modules-left {
	background-color: #1D1F21;
	padding: 0px 0px 0px 0px;
}

.modules-right {
	background-color: #1D1F21;
	padding: 0px 5px 0px 0px;
}

#workspaces button {
	padding: 0px 5px 0px 5px;
 	min-width: 15px;
	font-size: 12px;
	color: #888888;
}

#workspaces button.focused {
	padding: 0px 5px 0px 5px;
	background-color: #6B869E;
	color: #1D1F21;
}

#mode {
	background-color: #900000;
	color: #ffffff;
	padding: 0px 5px 0px 5px;
}

#custom-powermenu {
	min-width: 15px;
	padding: 0px 8px 0px 5px;
	color: #6B869E;
}

#custom-weather {
	padding: 0px 8px 0px 3px;
}

#disk, #network, #temperature, #backlight, #pulseaudio, #battery {
	padding: 0px 8px 0px 8px;
}

#clock {
	margin: 0px 9px 0px 15px;
}

#tray{
	padding: 0px 8px 0px 8px;
	margin: 0px 5px 0px 5px;
}

#battery.critical {
	color: #ff5555;
}

#battery.charging, #battery.full {
	color: #b5bd68;
}


#network.disconnected {
	color: #ff5555;
}

#pulseaudio.muted {
	color: #E7C547;
}

